@font-face {
    font-family: shock-surgent;
    src: url(fonts/shock-surgent/font.otf);
    format: ('woff');
}

@font-face {
    font-family: robotoLight;
    src: url("fonts/roboto/Roboto-Light.ttf");
}

body
{
    font-family: Courier, roboto-light, monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-shadow: #f0f0f0 0px 0px 1px;
}

.welcome
{
    background-image : url(images/background.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin: 0rem;
    padding: 10rem 0;
    height:100%;
    text-align: center;
}

.welcome p
{
    font-size: 1.5rem;
    font-weight: bold;
    
    padding: 0;
    display: block;
    margin: 250px auto;
    width: 50%;
}

#underline
{
    border-bottom: 2px solid rgb(0, 163, 251);
    padding-bottom: 0%;
    animation: slideInFromLeft 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes slideInFromLeft {
    0% {
        border-bottom: #675fff 2px solid;
        
    }
    100% {
        border-bottom: rgb(0, 163, 251) 2px solid;
       
    }
}

nav
{
    background-image: linear-gradient(to right, #675fff, #817bfe, 0.25);
    color: white;
    padding: 10px 10px;
    float: right;
    width: 100%;
    padding: 20px;
    
}

nav a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 35px;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    font-size: 18px;
}

nav h1
{
    font-family: shock-surgent;
    float: right;
    font-size: 150%;
    font-weight: bold;
    padding: 0 15px;
}

.logo
{
    font-family: shock-surgent;
    font-size: 150%;
    font-weight: bold;
    padding: 0 15%;
    margin: 25% 0% 25% 0%;
}

nav a:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}

nav a:active
{
    background-color: rgba(255, 255, 255, 0.4);
}

#home
{
    background-image: linear-gradient(to bottom, black, #6200ff);
    color:rgb(253, 253, 253);
    text-align: center;
    padding: 10%;
    height: 25%;
    font-size: 120%;
}


#about
{
    -webkit-margin-bottom-collapse: separate;
    background-color: #6200ff;
    color: rgba(255,255,255);
    padding: 5%;
    height: 25%;
    font-size: 70%;
    height: auto;
    overflow: auto;
}
#about h2{
    font-size: 300%;
    float: left;
    margin-right: 20px;
}

#about p{
    width: 60%;
    font-size:200%;
    float: left;
}

#about div{
   display: block;
   margin: auto;
}
