@font-face {
    font-family: shock-surgent;
    src: url(fonts/shock-surgent/font.otf);
    format: ('woff');
}

@font-face {
    font-family: robotoLight;
    src: url("fonts/roboto/Roboto-Light.ttf");
}

body
{
    font-family: Courier, roboto-light, monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-shadow: #f0f0f0 0px 0px 1px;
}

.welcome
{
    background-image : url(images/background.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin: 0rem;
    padding: 10rem 0;
    height:100%;
    text-align: center;
}

.welcome p
{
    font-size: 1.5rem;
    font-weight: bold;
    
    padding: 0;
    display: block;
    margin: 250px auto;
    width: 50%;
}

#underline
{
    border-bottom: 2px solid rgb(0, 247, 251);
    padding-bottom: 0%;
    animation: slideInFromLeft 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes slideInFromLeft {
    0% {
        border-bottom: #675fff 2px solid;
        
    }
    100% {
        border-bottom: rgb(0, 163, 251) 2px solid;
       
    }
}

nav
{
    background-image: linear-gradient(to right, #675fff, #817bfe, 0.25);
    color: white;
    padding: 10px 10px;
    float: right;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    
}

nav a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 35px;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    font-size: 1.6em;
}

nav h1
{
    font-family: shock-surgent;
    float: right;
    font-size: 2em;
    font-weight: bold;
    padding: 0 15px;
}

.logo
{
    font-family: shock-surgent;
    font-size: 3em;
    font-weight: bold;
    padding: 0 15%;
    margin: 25% 0% 25% 0%;
}

nav a:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}

nav a:active
{
    background-color: rgba(255, 255, 255, 0.4);
}

#home
{
    background-image: linear-gradient(to bottom, black, #6200ff);
    color:rgb(253, 253, 253);
    text-align: center;
    padding: 10%;
    height: 175%;
    font-size: 120%;
}

#about
{
    background-image: linear-gradient( #6200ff, black);
    padding: 5rem 0;
}

#about div
{
border: 0;
width: 70%;
height: 10em;
margin: 0 auto;
font-size: 2em;
background-image: url("images/aboutUs.gif");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
border-radius: 1rem;
padding: 2rem;
font-weight: bold;
color: white;
transition: box-shadow 0.3s;
animation-name: appear;
animation-timeline: view()
}

#about div:hover{
    box-shadow: 1px 1px 5px white;
    text-shadow: 1px 1px 2px black;
}

#about p
{
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3rem;
    border-radius: 10px;
}

#about h2
{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 7%;
}

@keyframes appear{

    0%{
        opacity : 0;
        scale : 0.5;
    }
    50% {
        opacity : 1;
        scale : 1;
    }
}

#services
{
   border: 2px dashed black;
   
}

#services h2
{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#services ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2rem;
    width: 200%;
    text-align: justify;
    
}

#services ul li{
    width: 100%;
    background-color: white;
    
}

#services ul li img{
    width: 50%;
    border-radius: 10px;
    margin-top: 10px;
}
